svg line {
  stroke: black;
}

svg circle {
  stroke: blue;
  fill: white;
}

svg circle.highlight {
  stroke: blue;
  fill: #88f;
}

svg circle.nohighlight {
  stroke: gray;
  fill: lightgray;
}

div.CellarBox {
  border: 1px solid black;
}

div.CellarBoxContainer {
  margin: 2px;
}
